docker.enabled = true
conda.enabled = false

/*
 * System resource usage
 */
process {
    executor = 'local' // could be 'slurm' if HPC, etc.
    cpus = 1
    memory = 1.GB
    // process-specific resource requirements
    withName: 'cowpy' {
        memory = 2.GB
        cpus = 2
    }
}

/*
 * Profiles, run nextflow with -profile to choose which ones to use
 */
profiles {
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    /*
    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits: [
            cpus:200
        ]
    }
    */
    test {
        params.input = 'data/greetings.csv'
        params.batch = 'test'
    }
}

/*
 * Pipeline parameters
 */
params {
    input = 'data/greetings.csv'
    batch = 'batch'
    character = 'moose'
}

/*
 * New default output directory
 */
outputDir = "custom-config/${params.batch}"

/*
 * Set copy mode for all outputs in workflow
 */
workflow {
    output.mode = 'copy'
}
